extends layout

block content
    .container-fluid
        #login
            .jumbotron
                h1="Login"
        .col-md-8
            .controls
            input(
            id='nameField',
            type='field',
            style='width:350px;',
            value=""
            )
            input(
            id='sendLoginName',
            type='button',
            value='send'
            )
